# api
__pycache__
tegakidata
etegakidata
*.npy
migrations
staticfiles
api/static
*.sqlite3

# web
.DS_Store
node_modules
dist
.env

.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
